<div class="container">

    <p class="display-4 py-3">Human Capital Management</p>
    <hr>

    <p class="lead">
        Human capital management can improve workforce productivity and help HR managers hire, engage and retain
        employees. In an integrated HCM solution where HR services are unified, you may also be able to eliminate costly
        redundancies and synchronize data into a trusted source of decision-making.
    </p>

    <p class="lead">
        <ins>
            Human capital management is made up of a series of administrative and strategic applications that
            include:
        </ins>
    </p>

    <ul>
        <li> Recruitment</li>
        <li> Onboarding</li>
        <li> Payroll</li>
        <li> Time and attendance</li>
        <li> Benefits and retirement services</li>
        <li> Talent management</li>
        <li> Training</li>
        <li> Reporting and analytics</li>
        <li> Compliance</li>
    </ul>

</div>